#local-contexts-content {
    @include container;
    margin-bottom: 40px;
    padding-bottom: 2rem !important;
    padding-top: 2rem !important;

    .local-contexts-notice {
        padding: 1rem;
    }

    .notice-name {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 10px;
    }
}
