#local-contexts-content {
    @include container;
    margin-bottom: 40px;
    padding-bottom: 2rem !important;
    padding-top: 2rem !important;

    .local-contexts-notice {
        padding: 1rem;
    }

    .language {
        margin-left: 10px;
    }
}
