// Colors
$color__primary: var(--primary);
$color__primary-dark: var(--primary-dark);
$color__secondary: var(--secondary);
$color__secondary-dark: var(--secondary-dark);
$color__accent: var(--accent);
$color__complementary: var(--complementary);
$color__success: #00a658;
$color__warning: #ff5c00;
$color__error: #cf0019;
$color__bg-body: #fff;

// Grayscale
$color__black: #333;
$color__gray-33: #555;
$color__gray-40: #666;
$color__gray-47: #777;
$color__gray-60: #999;
$color__gray-67: #aaa;
$color__gray-80: #ccc;
$color__gray-87: #ddd;
$color__gray-93: #ececec;
$color__gray-95: #f3f3f3;
$color__white: #fff;

//Applications
$color__headings: $color__black;
$color__main-text: $color__gray-40;
$color__secondary-text: $color__gray-60;
$color__buttons: $color__primary;
$color__icons: $color__primary;
$color__link: $color__accent;
$color__menu-drawer: $color__white;
$color__hr: $color__gray-80;
$color__light-bg: $color__gray-95;
$color__disabled: $color__gray-80;
