.main-navigation {
    order: 2;

    @media (min-width: $xl) {
        margin-left: auto;
        margin-right: 20px;
        order: initial;
    }

    &__container {
        display: none;

        @media screen and (min-width: $xl) {
            display: block;
        }
    }

    &__toggle {
        width: 35px;
        height: 28px;
        position: relative;
        margin: 20px auto;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;

        @media (min-width: $xl) {
            display: none;
        }

        span {
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background: $color__primary;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
        }

        span:nth-child(1) {
            top: 0px;
            transform-origin: left center;
        }
        
        span:nth-child(2) {
            top: 11px;
            transform-origin: left center;
        }
        
        span:nth-child(3) {
            top: 22px;
            transform-origin: left center;
        }
    
        &.open {
            span:nth-child(1) {
                transform: rotate(45deg);
                top: -1px;
                left: 5px;
            }
            
            span:nth-child(2) {
                width: 0%;
                opacity: 0;
            }
            
            span:nth-child(3) {
                transform: rotate(-45deg);
                top: 24px;
                left: 5px;
            }
        }
    }

    .navigation { //main ul
        list-style: none;
        display: flex;
        margin-bottom: 0;
        padding-left: 0;
        margin-left: 0;

        .main-header--inline & {
            margin-right: -15px;
        }

        li {
            &::before {
                content: none !important;
            }
        }
    
        > li { //main menu items
            cursor: pointer;
            display: flex;
            margin-bottom: 0;

            &:hover,
            &:focus-within {
            
                > ul { //mega menu hover
                    opacity: 1;
                    height: auto;
                    padding: 40px;
                }
            }
    
            &:hover a::after,
            &.focus a::after {
                transform: scale(1);
            }

            &.active {
                > a{ //main menu items links (active)
                    color: $color__primary;
                    font-weight: 600;
                    border: 1px solid $color__primary;
                    border-radius: 30px;
                }
            }

            > a { //main menu items links
                display: flex;
                align-items: center;
                color: $color__headings;
                text-decoration: none;
                margin: 30px 5px;
                position: relative;
                padding: 10px 20px;
                border: 1px solid transparent;
                text-align: center;
                font-weight: 700;

                &:hover,
                &:focus {
                    border: 1px solid $color__headings;
                    border-radius: 30px;
                    transition: all 0.7s ease;
                }
            }

            > ul { //mega menu hidden
                display: flex;
                gap: 47px;
                transition: opacity 0.5s ease-out;
                opacity: 0;
                height: 0;
                overflow: hidden;
                justify-content: center;
                flex-wrap: wrap;
                background-color: $color__white;
                border-top: 1px solid $color__secondary;
                border-radius: 0 0 22px 22px;
                box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.11);
                position: absolute;
                list-style: none;
                margin: 0 auto;
                width: 100%;
                left: 0;
                right: 0;
                top: 100%;

                > li { //mega menu columns
                    max-width: 260px;
                    position: relative;

                    &:not(:last-child)::after {
                        content: "";
                        height: 100%;
                        width: 1px;
                        position: absolute;
                        background-color: $color__gray-93;
                        top: 0;
                        bottom: 0;
                        right: -20px;
                    }

                    > a { //Links 1st level mega menu
                        font-weight: 700;
                        color: $color__black;

                        &:has(+ ul)::after {
                            @include font-awesome;
                            content: "\f054" !important;
                            display: inline;
                            font-weight: 600;
                            font-size: .6rem;
                            color: $color__accent;
                            padding-left: 5px;
                        }
                    }

                    > ul { //2do level columns
                        margin-top: 0.8rem;
                        margin-left: 0;
                        padding-left: 0;
                        list-style: none;

                        li { //2do level links
                            margin-bottom: 5px;

                            ul {
                                margin-left: 0;
                                padding-left: 25px;
                            }
                        }
                    }
                }

                a { //all mega menu links
                    color: $color__main-text;
                    text-transform: none;
                    text-decoration: none;
                    font-size: 0.94rem;
                    transition: color 0.5s ease;

                    &:hover {
                        text-decoration: underline;
                    }
                    
                }

            }
        }

        a {
            display: block;
        }

    }

}
