.language {
    display: inline-block;
    background-color: $color__primary;
    border-radius: 3px;
    color: $color__white;
    font-family: $font__body;
    font-size: $font__xs-size;
    font-weight: 600;
    line-height: 1;
    padding: 5px;
    vertical-align: top;
}
