a {
    color: $color__link;
    text-decoration: underline;
    text-underline-offset: 0.15em;
    transition: all 0.2s;
    word-wrap: break-word;

    &:visited {
        color: $color__link;
    }

    &:hover,
    &:focus,
    &:active {
        text-decoration-thickness: 2px;
    }

    &:hover,
    &:active {
        outline: 0;
    }
}
