.resource-tags {
    display: flex;
    flex-shrink: 0;

    .resource-tag {
        display: flex;
        align-items: center;
        color: $color__black;
        background-color: $color__gray-95;
        border-radius: 20px;
        font-size: $font__xs-size;
        font-weight: 600;
        margin-bottom: 15px;
        margin-right: 10px;
        padding: 5px 10px;
    
        &:last-child {
            margin-right: 0;
        }

        .resource-tag-color {
            display: block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            margin-right: 5px;
        }
    }
}
