.tooltip {
    display: inline-block;
    color: $color__secondary;
    font-size: 1.2rem;
    line-height: 1;
    margin-left: 5px;
    position: relative;

    &.is-visible .tooltip-text {
        visibility: visible;
    }

    .tooltip-button {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        line-height: 1;
        padding: 0;
        background-color: var(--secondary);
        font-weight: 500;

        &:hover,
        &:focus {
            background-color: var(--secondary);
        }
    }

    .tooltip-text {
        background-color: $color__secondary;
        border-radius: 6px;
        bottom: 130%;
        color: $color__white;
        font-size: $font__xs-size;
        left: 50%;
        margin-left: -106px;
        padding: 12px;
        position: absolute;
        text-align: center;
        visibility: hidden;
        width: 212px;
        z-index: 1;

        &::after {
            content: "";
            border-color: $color__secondary transparent transparent transparent;
            border-style: solid;
            border-width: 5px;
            left: 50%;
            margin-left: -5px;
            position: absolute;
            top: 100%;
        }
    }
}
