p {
    margin-bottom: 1.5rem;
    margin-top: 0;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    display: flex;
    background-color: $color__white;
    border: 1px dashed $color__gray-80;
    border-radius: 20px 0;
    font-style: italic;
    padding: 20px 25px 20px 60px;
    position: relative;
    margin: 1rem 0 1.5rem;

    @media (min-width: $md) {
        margin: 1rem 2.5rem 1.5rem;
    }

    &::before {
        @include font-awesome;
        color: $color__primary;
        opacity: 0.3;
        content: open-quote;
        font-size: 6rem;
        font-style: normal;
        left: 10px;
        position: absolute;
        top: 0px;
        line-height: 1;
    }

    &::after {
        opacity: 0;
        content: close-quote;
    }

    a[rel="footnote"] {
        font-style: initial;
    }
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: $color__gray-87;
    font-family: $font__pre;
    line-height: $font__pre-base-line-height;
    color: $color__gray-33;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: $font__code;
}

abbr,
acronym {
    border-bottom: 1px dotted $color__hr;
    cursor: help;
}

mark,
ins {
    background: $color__gray-87;
    text-decoration: none;
}

big {
    font-size: 125%;
}
