.breadcrumbs {
    display: inline-block;
    background-color: $color__light-bg;
    border-radius: 22px;
    font-size: $font__sm-size;
    padding: 8px 15px;
    width: auto;
    margin-bottom: 15px;
}
