.breadcrumbs {
    display: inline-block;
    background-color: $color__light-bg;
    border-radius: 3px;
    font-size: $font__xxs-size;
    padding: 8px 10px;
    text-transform: uppercase;
    width: auto;
}
