.metadata {
    width: 100%;

    @media (min-width: $md) {
        width: auto;
    }

    > div:not(:last-child),
    .media-render:not(:last-child) {
        margin-bottom: 2rem;
    }

    .media-render > * {
        max-width: 100%;
    }

    .media-embed {
        margin-bottom: 1rem;
    }

    dl {
        margin-top: 0;
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }

        > .property {
            margin-bottom: 1.25rem;

            &::after {
                content: "";
                display: table;
                clear: both;
            }
    
            dt {
                line-height: 1.2;
                margin-bottom: 0.5rem;
                padding-right: 15px;
                word-wrap: break-word;

                &:not(.sidebar-region &) {
                    @media (min-width: $md) {
                        margin-bottom: 0;
                        float: left;
                        width: 170px;
                    }
                }

                .field-term {
                    font-size: $font__sm-size;
                    font-weight: 500;
                }
            }
    
            dd {
                margin: 0 0 1rem;
                word-break: break-word;
                overflow-wrap: anywhere;
                white-space: normal;
                align-items: flex-start;

                &:not(.sidebar-region &) {
                    @media (min-width: $md) {
                        margin-left: 170px;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
    
            .language {
                margin-right: 5px;
            }
        }
    }

    .value.resource {
        .resource-link {
            display: inline-flex;
            align-items: center;
        }

        img {
            flex-shrink: 0;
            height: 60px;
            margin-right: 1rem;
            object-fit: cover;
            width: 60px;
        }
    }

    .media-list {
        dd {
            margin-bottom: 1rem !important;

            &:last-child {
                margin-bottom: 0 !important;
            }
        }

        .resource-link {
            display: flex;
            align-items: center;

            img {
                flex-shrink: 0;
                height: 100px;
                object-fit: cover;
                width: 100px;
            }

            .resource-name {
                padding: 1rem;
            }
        }
    }
}
