.resource-list {
    height: auto !important;
	list-style: none;
    padding-left: 0;

    .resource {
        display: flex;
        background-color: $color__white;
        border: 1px dashed $color__hr;
        border-radius: 20px 0;
        position: relative !important;
        left: auto !important;
        top: auto !important;
        width: 100% !important;
        margin-bottom: 16px;

        &::before {
            content: none !important;
        }

        &__thumbnail {
            flex-shrink: 0;
            line-height: 1;
            margin: 15px 15px 15px auto;
            order: 1;

            img {
                height: 100px;
                object-fit: cover;
                width: 100px;
            }
        }

        &__content {
            padding: 15px;
        }

        &__meta {
            padding: 5px 10px;
        }
    }
}
