.hierarchy-module {
    .hierarchy-sidebar-content {
        padding-bottom: 50px;
    }

    .hierarchy-main-content {
        @media (max-width: $md) {
            border-left: none;
            padding-left: 0;
        }
    }

    .hierarchy-itemset-metadata {
        padding: 15px;
        width: 100%;

        .resource-link {
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            width: 100%;
        }

        img {
            height: 100px;
            margin-left: auto;
            object-fit: cover;
            order: 1;
            width: 100px;
        }
    }
}
