.mapping-map {
    .leaflet-popup-content {
        margin: 13px;
    }

    .mapping-marker-popup-heading {
        font-size: 1.1rem;
        margin-bottom: 0.8rem;
    }

    .mapping-marker-popup-content {
        display: flex;
        gap: 13px;

        img {
            max-width: 100px;
            max-height: 100px;
        }
    }
}
